{% extends 'base.html' %}
{% block title_block %}
Challenge Categories
{% endblock %}

{% block body_title %}
Challenge Categories
{% if request.session.user_type == "team" %} <br> <span style="font-size: 0.4em;">| Points Gained: {{details.points}} | Challenge  Completed: {{ details.challenges_completed }} | Challenges Partialy Completed: {{ details.partially_completed }} | </span>{% endif %}
{% endblock %}


{% block body_block %}







<div class="container text-center pt-5">



<div class="container" >
<div class="row justify-content-center ">
  {% for category in category_array %}
  <div class=" col-lg-5 col-xs-5 p-4 text-white bg-theme-color rounded text-center m-1">
    <h3><strong>{{category.name}}<span class="badge ml-3 badge-light text-theme-color">9</span></strong></h3>
    {% if category.discription %}
    <p class="text-white-50">-  {{category.description}}</p>
    {% endif%}
    <p class="text-white-50">-  gasrgsrgsdrgsdrgsdrg{{category.description}}</p>
    <a href="{% url 'challenge_list' category.id %}" class=" stretched-link"></a>
  </div>
  {% endfor %}

  <!-- this adds an empty column to balance out the display -->
  {% if category_array.count|divisibleby:2 %}
  {% else %}
  <div class=" col-lg-5 col-xs-5 ">
  </div>
  {% endif %}



  </div>
</div>
</div>

{% endblock %}
