{% extends 'base.html' %}
{% block title_block %}
Challenge List
{% endblock %}

{% block body_title %}
Challenge List
{% if request.session.user_type == "team" %} <br> <span style="font-size: 0.4em;">| Points Gained: {{details.points}} | Challenge  Completed: {{ details.challenges_completed }} | Challenges Partialy Completed: {{ details.partially_completed }} | </span>{% endif %}
{% endblock %}


{% block body_block %}
<div class="container text-center">
  <table class="table sortable">
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Max points</th>
        {% if request.session.user_type == "team" %} <th>Status</th> {% endif %}
      </tr>
      {% for challenge in challenge_array %}
        <tr>
          <td><a href="{% url 'challenge_details' challenge.id %}">{{ challenge.id }}</a> </td>
          <td>{{ challenge.name|title }} </td>
          <td>{{ challenge.points_avaliable }} </td>
          {% if request.session.user_type == "team" %} <td>{{ challenge.status }}</td> {% endif %}
        </tr>
      {% endfor %}
  </table>
</div>

{% endblock %}
