{% extends 'base.html' %}
{% block title_block %}
Challenge List
{% endblock %}

{% block body_title %}
Challenge List
{% if request.session.user_type == "team" %} <br> <span style="font-size: 0.4em;">| Points Gained: {{details.points}} | Challenge  Completed: {{ details.challenges_completed }} | Challenges Partialy Completed: {{ details.partially_completed }} | </span>{% endif %}
{% endblock %}


{% block body_block %}




  <div class="container">
  <div class="row justify-content-center">
  {% for challenge in challenge_array %}
  <div class="col-lg-5  col-xs-5 p-4 text-white bg-theme-color rounded text-center m-1 category-item">
    <h3><strong>{{ challenge.name|title }}<span class="badge text-theme-color bg-white rounded px-1 ml-2">{% if request.session.user_type == "team" %} {{ challenge.points_status }} {% else %} {{challenge.points_avaliable}} {% endif %} pts</span></strong></h3>
    {% if request.session.user_type == "team" %}
    <p class="text-white-50">{{ challenge.status }}</p>
    {% endif %}
    <a href="{% url 'challenge_details' challenge.id %}" class="stretched-link text-decoration-none btn btn-block btn-outline-light mt-3">View</a>
  </div>
  {% endfor %}

  {% if challenge_array.count|divisibleby:2 %}
  {% else %}
  <div class=" col-lg-5 col-xs-5 ">
  </div>
  {% endif %}

</div>
</div>




{% endblock %}
