{% extends 'base.html' %}
{% block title_block %}
{% if challenge %}
Challenge - {{ challenge.name }}
{% endif %}
{% endblock %}

{% block body_title %}
{% if challenge %}
Challenge - {{ challenge.name }}
{% endif %}
{% endblock %}

{% block body_block %}



<div class="container">

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot"><strong>ID<span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">{{ challenge.id }}</span></strong></h3>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot"><strong>Name<span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">{{ challenge.name}}</span></strong></h3>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot"><strong>Category<span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">{{ challenge.category }}</span></strong></h3>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot"><strong>Points Avaliable<span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">{{ challenge.points_avaliable }}</span></strong></h3>
</div>
</div>

{% if request.session.user_type == "team" %}

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot"><strong>Points Gained (so far)<span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">{{ points_gained }}</span></strong></h3>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot"><strong>Status<span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">{{ status }} |{% if request_id %}<a href="{% url 'request_details' request_id %}"> Info</a>{% else %}<a href="{% url 'create_request' %}?challenge_id={{ challenge.id }}"> Attempt</a>{% endif %}</span></strong></h3>
</div>
</div>

{% endif %}

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <h3 class="h3-margin-bot">
    <strong>
      Attachments
      <span class="text-theme-color float-right  bg-white rounded px-1 pb-1 ml-2">
        {% for attachment_entity in challenge.attachments.all %}
        {{ forloop.counter }}. <a target='_blank' href='{{ attachment_entity.attachment.url }}'>{{ attachment_entity }}</a><br/>
        {% endfor %}
      </span>
    </strong>
  </h3>
</div>
</div>



<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-center m-1 category-item">
  <h3 class="h3-margin-bot"><strong>Detailed Description</strong></h3>
  <div class="bg-white text-dark p-2 m-1 text-break rounded">{{ challenge.description }}</div>
</div>
</div>

</div>




{% endblock %}
