{% extends 'base.html' %}
{% block title_block %}
{% if challenge %}
Challenge - {{ challenge.name }}
{% endif %}
{% endblock %}

{% block body_title %}
{% if challenge %}
Challenge - {{ challenge.name }}
{% endif %}
{% endblock %}

{% block body_block %}



<div class="container">

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <div class="h3-margin-bot"><span class="h3"><strong>ID</strong></span><div class="text-dark float-right  bg-white rounded p-2 px-3">{{ challenge.id}}</div></div>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <div class="h3-margin-bot"><span class="h3"><strong>Name</strong></span><span class="text-dark float-right  bg-white rounded p-2 px-3">{{ challenge.name}}</span></div>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <div class="h3-margin-bot"><span class="h3"><strong>Category</strong></span><span class="text-dark float-right  bg-white rounded p-2 px-3">{{ challenge.category }}</span></div>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <div class="h3-margin-bot"><span class="h3"><strong>Points Avaliable</strong></span><span class="text-dark float-right  bg-white rounded p-2 px-3">{{ challenge.points_avaliable }}</span></div>
</div>
</div>

{% if request.session.user_type == "team" %}

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-left m-1 category-item">
  <div class="h3-margin-bot"><span class="h3"><strong>Points Gained (so far)</strong></span><span class="text-dark float-right  bg-white rounded p-2 px-3">{{ points_gained }}</span></div>
</div>
</div>

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-center m-1 category-item">
  <h3 class="h3-margin-bot text-left pl-1"><strong>Status</strong></h3>
  <div class="bg-white text-dark p-2 m-1 text-break rounded">{{ status }} |{% if request_id %}<a href="{% url 'request_details' request_id %}"> Info</a>{% else %}<a href="{% url 'create_request' %}?challenge_id={{ challenge.id }}"> Attempt</a>{% endif %}</div>
</div>
</div>

{% endif %}

<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-center m-1 category-item">
  <h3 class="h3-margin-bot text-left pl-1"><strong>Attachments</strong></h3>
  <div class="bg-white text-dark p-2 m-1 text-break rounded">
    {% for attachment_entity in challenge.attachments.all %}
    {{ forloop.counter }}. <a target='_blank' href='{{ attachment_entity.attachment.url }}'>{{ attachment_entity }}</a><br/>
    {% endfor %}
  </div>
</div>
</div>



<div class="row justify-content-center">
<div class="col-lg-7  col-xs-7 p-1 text-white bg-theme-color rounded text-center m-1 category-item">
  <h3 class="h3-margin-bot text-left pl-1"><strong>Detailed Description</strong></h3>
  <div class="bg-white text-dark p-2 m-1 text-break rounded">{{ challenge.description }}</div>
</div>
</div>

</div>




{% endblock %}
