{% extends 'base.html' %}

{% block title_block %}
{{ form.formFor }}
{% endblock %}

{% block body_title %}
{{ form.formFor }}
{% endblock %}

{% block body_block %}

<div class="container text-center">


  <div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col col-lg{% if col_size %}-{{ col_size }}{% else %}{% endif %}">
      <form method="POST" action="{{ form.action }}" enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in form %}


            {% if field.label == "Name" %}
            <div class="row justify-content-md-center">
              <div class="col col-sm-8">

                <label>{{ field.label }}</label>
                {{ field }}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
                  <br>
              </div>


            {% elif field.label == "Points avaliable" %}
            <div class="col col-sm">

              <label>{{ field.label }}</label>
              {{ field }}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                <br>
            </div>
          </div>
          {% else %}
          <label>{{ field.label }}</label>
          {{ field }}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            <br>
          {% endif %}






        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

        <input class="btn btn-lg btn-block btn-success mt-4" type="submit" name="submit" value="Submit">

      </form>
    </div>
  </div>
</div>

</div>


{% endblock %}
