{% extends 'base.html' %}
{% load static %}


{% block title_block %}
Home
{% endblock %}

{% block body_block %}

<div class="container text-center">

  <div class="row justify-content-md-center">
    <div class="col col-lg-4 my-5">
      <img src="{% static 'images/co-logo.jpg'%}" class="img-fluid" alt="Code Oympics Logo">
    </div>
  </div>



  {% if user.is_authenticated %}
  <div class="alert alert-fade alert-primary alert-dismissible fade show" role="alert">
    Hey<strong>{% if team %} {{ team.name |title }}  {% else %} {{ request.user.first_name|title }} {{ request.user.last_name|title}} {% endif %}</strong>, Welcome to Hacker Olympics!

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>


    </button>
  </div>
  {% if request.session.user_type == "team" %}
    <div class="alert alert-info text-left" role="alert">
      <h5 class="alert-heading">Identification information</h5>
      <p>
        Your team ID is <b>{{team.id}}</b>
      </p>
    </div>
    <div class="alert alert-info text-left" role="alert">
      <h5 class="alert-heading">Need help?</h5>
      <p>Contact us at <a href="#">support@codeolympics.com</a>
        <br>
        <b class='mt-5'>Don't forget to mention your team ID in the title</b>
      </p>
    </div>
  {% else %}
  <div class="alert alert-info text-left" role="alert">
    <h5 class="alert-heading">You are currently logged in as a Judge</h5>
    <p>
      This account has been registered for <b>{{judge.organisation.name}}</b>.
    </p>
  </div>
  {% endif %}

  <!-- <div class="jumbotron">
      <img class="img-fluid"  src='{% static "images/logo.jpg" %}'>
      <hr>
          <a href='https://www.hackerrank.com/hacker-olympics-2019'>HackerRank - Hacker Olympics 2019</a>
      <hr>
  </div> -->

  {% else %}
  <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4 ">
      <form method="POST" action="{% url 'login_request' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-lg btn-block btn-success mt-10"  type="submit" name="submit" value="Login">
      </form>

      <div class="alert alert-info text-left" style="margin-top:50px" role="alert">
        <h5 class="alert-heading">Trouble logging in?</h5>
        <p>Contact <a href="#">support@codeolympics.com</a></p>
      </div>
    </div>
  </div>
</div>
  {% endif %}

</div>



<script type="text/javascript">

$(document).ready(function () {

  window.setTimeout(function() {
    $(".alert-fade").fadeTo(1000, 0).slideUp(1000, function(){
      $(this).remove();
    });
  }, 1000);
  6
});
</script>

{% endblock %}
