{% extends 'base.html' %}

{% block title_block %}
Teams
{% endblock %}

{% block body_title %}
Team results for {{ category_name }}
{% endblock %}

{% block body_block %}


<div class="container text-center">

  <table class="table sortable">
    <tr>
      <th>Team Number</th>
      <th>Team Name</th>
      <th>Points</th>
      <th>Completely Solved</th>
      <th>Partially Solved</th>
      <th>View More</th>
    </tr>
      {% for team in team_array %}
        <tr>
          <td>{{ team.id }}</a> </td>
          <td>{{ team.name }} </td>
          <td>{{ team.information.points }} </td>
          <td>{{ team.information.challenges_completed }}</td>
          <td>{{ team.information.partially_completed }}</td>
          <td><a href="{% url 'team_information' team.user.id %}">View More</a></td>
        </tr>
      {% endfor %}
  </table>

</div>

<div class="container">
<div class="row justify-content-center">
  <div class="col-lg-5 col-xs-5 p-4 text-white bg-theme-color rounded text-center m-1 category-item">
    <h3><strong>All Categories</strong></h3>
    <a href="{% url 'teams' %}" class="stretched-link"></a>
  </div>
  {% for category in category_array %}
  <div class="col-lg-5 col-xs-5 p-4 text-white bg-theme-color rounded text-center m-1 category-item">
    <h3><strong>{{category.name}}</strong></h3>
    <a href="{% url 'teams' category.id %}" class="stretched-link"></a>
  </div>
  {% endfor %}

  <!-- this adds an empty column to balance out the display -->
  {% if category_array.count|divisibleby:2|yesno:"False,True" %}
  {% else %}
  <div class=" col-lg-5 col-xs-5 ">
  </div>
  {% endif %}

</div>
</div>


{% endblock %}
