{% extends 'base.html' %}

{% block title_block %}
Teams
{% endblock %}

{% block body_title %}
Team results for {{ category_name }}
{% endblock %}

{% block body_block %}


<div class="container text-center">
<select id='redirect' class='form-control mt-3 mb-3'>
  <option value="{% url 'teams' %}">All categories</option>
  {% for category in category_array %}
    <option {% if category.selected %} {{category.selected}} {% endif %} value="{% url 'teams' category.id %}">{{category.name}}</option>
  {% endfor %}
</select>
  <table class="table sortable">
    <tr>
      <th>Team Number</th>
      <th>Team Name</th>
      <th>Points</th>
      <th>Completely Solved</th>
      <th>Partially Solved</th>
      <th>View More</th>
    </tr>
      {% for team in team_array %}
        <tr>
          <td>{{ team.id }}</a> </td>
          <td>{{ team.name }} </td>
          <td>{{ team.information.points }} </td>
          <td>{{ team.information.challenges_completed }}</td>
          <td>{{ team.information.partially_completed }}</td>
          <td><a href="{% url 'team_information' team.user.id %}">View More</a></td>
        </tr>
      {% endfor %}
  </table>

</div>
{% endblock %}
